# Requirements for running django-fernet-fields tests

Django>=4.1.10

cryptography>=41.0.3

tox>=4.6.4
pytest-django>=4.5.2
pytest>=7.4.0
coverage>=7.2.7

psycopg2>=2.9.7
psycopg2cffi>=2.9.0

Sphinx>=7.1.2

flake8>=6.1.0
